body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
}

.content {
  padding: 40px 20px;
  text-align: center;
  transition: all 0.5s ease;
}
.collapse {
  animation: collapseEffect 2s forwards;
}
@keyframes collapseEffect {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  25% {
    transform: rotate(10deg) translate(-10px, 10px);
    opacity: 0.7;
  }
  50% {
    transform: rotate(-20deg) translate(20px, -20px);
    opacity: 0.4;
  }
  75% {
    transform: rotate(30deg) translate(-30px, 30px);
    opacity: 0.2;
  }
  100% {
    transform: rotate(45deg) translate(100px, 100px);
    opacity: 0;
  }
}

.content-title {
  color: #ff4444;
}

.content-date {
  font-style: italic;
  color: #dddddd;
}

.content-body {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
}


.play-button {
  background-color: #d70000;
  color: #ffd700;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 40px;
  border: 3px solid #ffd700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-button:hover {
  background-color: #b30000;
  border-color: #ffcc00;
  transform: translateY(-3px);
}

.play-button:active {
  transform: translateY(2px);
}

/* テキストの装飾 */
.play-button::before {
  content: "▶ ";
  font-size: 1.2rem;
}


.mao-img {
  width: 100%;
}

.mao-text {
  color: #FFD700;
  background-color: #d70000;
}
